/*

### Primary

- Soft Blue: hsl(231, 69%, 60%)
- Soft Red: hsl(0, 94%, 66%)

### Neutral

- Grayish Blue: hsl(229, 8%, 60%)
- Very Dark Blue: hsl(229, 31%, 21%)

## Typography

### Body Copy

- Font size: 18px

### Fonts

- Family: [Rubik](https://fonts.google.com/specimen/Rubik)
- Weights: 400, 500

*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

/**********************/
/* HEADER */
/**********************/

.logo {
  height: 2.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  margin: 0 6rem 0 6rem;
  padding: 0 6rem 0 3rem;
}

/**********************/
/* MAIN NAV*/
/**********************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 1px;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: hsl(0, 94%, 66%);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 3px;
  color: #fff;
  background-color: hsl(0, 94%, 66%);
  border: 2px solid hsl(0, 94%, 66%);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  color: hsl(0, 94%, 66%);
  background-color: #fff;
}

/**************/
/*SECTION HERO*/
/**************/

.section-hero {
  background-color: #fff;
  padding: 9.6rem 0 9.6rem 0;
  margin-bottom: 12rem;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.heading-primary {
  color: #333;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: #9694a6;
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 3px;
  transition: all 0.3s;
  border: 2px solid transparent;
  cursor: pointer;
  font-family: inherit;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.15);
}

.btn--blue:link,
.btn--blue:visited {
  color: #fff;
  background-color: hsl(231, 69%, 60%);
}

.btn--blue:hover,
.btn--blue:active {
  color: hsl(231, 69%, 60%);
  background-color: #fff;
  border: 2px solid hsl(231, 69%, 60%);
}

.btn--gray:link,
.btn--gray:visited {
  color: #70707a;
  background-color: #e8e5e7;
}

.btn--gray:hover,
.btn--gray:active {
  background-color: #fff;
  border: 2px solid hsl(229, 8%, 60%);
}

.hero-img {
  width: 100%;
  position: relative;
}

.hero-img-box::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: hsl(231, 69%, 60%);
  top: 43%;
  left: 65%;
  height: 30rem;
  width: 35%;
  font-size: 3rem;
  /* border-top-left-radius: 100px; */
  border-bottom-left-radius: 40%;
}

/*******************/
/*SECTION FEATURES*/
/******************/

.container {
  margin-bottom: 8rem;
}

.fetures-text-box {
  width: 60rem;
  margin: 0 auto;
  text-align: center;
}

.heading-secondary {
  color: #333;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.row {
  text-align: center;
}

.buttons {
  display: inline-block;
  border-bottom: 1px solid hsl(229, 8%, 60%);
  margin-bottom: 6.4rem;
}

.btn-tab {
  border-bottom: 2px solid transparent;
  padding: 1.8rem 3.2rem;
}
.active[data-tab-target] {
  border-bottom: 2px solid hsl(0, 94%, 66%);
}
[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: block;
}

.tab-items {
  max-width: 130rem;
  margin: 5rem auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}
.features-img {
  width: 100%;

  z-index: 1000;
}
.features-img-box {
  position: relative;
}

.features-img-box::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: hsl(231, 69%, 60%);
  top: 0;
  right: 0;
  height: 30rem;
  width: 80rem;
  font-size: 3rem;
  border-bottom-right-radius: 15rem;
  border-top-right-radius: 15rem;
  transform: translate(-20%, 40%);
  z-index: -1;
}
.features-text-box {
  text-align: left;
}

/********************/
/*SECTION EXTENSIONS*/
/********************/

.extensions-container {
  padding-top: 9.6rem;
  padding-bottom: 4rem;
  text-align: center;
}
.extension-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 26rem;
  gap: 4rem;
}

.card {
  border-radius: 1.6rem;
  padding: 3rem 1rem;
  box-shadow: 0px 9px 15px -1px rgba(0, 0, 0, 0.2);
}

.card--2 {
  margin-top: 6rem;
}

.card--3 {
  margin-top: 12rem;
}

.card-img {
  width: 10rem;
  margin-bottom: 3.2rem;
}

.heading-tertiary {
  color: #333;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.card-description {
  font-size: 1.4rem;
  color: #9694a6;
  font-weight: 400;
  margin-bottom: 3.2rem;
}

.dots {
  display: inline-block;
  margin-bottom: 3.2rem;
}

/********************/
/*SECTION FAQ*/
/********************/
.faq-container {
  margin: 12rem 0;
  text-align: center;
}

.accordion {
  width: 90%;
  max-width: 60rem;
  margin: 2rem auto;
  padding-bottom: 4rem;
}

.accordion-item {
  background-color: #fff;

  margin: 1rem 0;
  border-top: 2px solid #e8e5e7;
}

.accordion-item:last-child {
  border-bottom: 2px solid #e8e5e7;
}

.accordion-item-header {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  text-align: left;
}

.accordion-item-header .heading-tertiary {
  width: 90%;
  margin-bottom: 0;
  font-weight: 500;
}

.accordion-item-header:hover,
.heading-tertiary:hover {
  color: hsl(0, 94%, 66%);
}

.accordion-item-header::after {
  content: url(./images/icon-arrow.svg);
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  transition: transform 300ms;
}

.accordion-item-header.active::after {
  content: url(./images/icon-arrow-red.svg);
  transform: rotate(180deg);
}

.accordion-item-body {
  display: none;
  padding: 2rem 0;
  line-height: 1.5rem;
  text-align: left;
}

.accordion-item-header.active + .accordion-item-body {
  display: block;
}

/********************/
/*SECTION CONTACT*/
/********************/

.section-contact {
  background-color: #5267df;
  text-align: center;
  padding: 9rem;
}

.contact-box {
  width: 50rem;
  margin: 0 auto;
}

.subscribers {
  color: #ffffff;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 4.8rem;
  letter-spacing: 5px;
}

.heading-tertiary-white {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.8rem;
  font-size: 3.2rem;
  color: #ffffff;
}

.email-input {
  padding: 1.2rem 2.4rem;
  border-radius: 3px;
  font-size: 1.4rem;
  outline: none;
  border: 2px solid #ffffff;
  font-family: inherit;
  margin-right: 1rem;
  width: 60%;
}

.section-footer {
  padding: 3.6rem 12rem;
  background-color: hsl(229, 31%, 21%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.footer-link:link,
.footer-link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 200;
  font-size: 1.4rem;
  letter-spacing: 1px;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: hsl(0, 94%, 66%);
}

.foter-social-links {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.facebook-icon,
.twitter-icon {
  color: #ffffff;
  cursor: pointer;
}
.facebook-icon:hover,
.twitter-icon:hover {
  color: hsl(0, 94%, 66%);
}
